@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Boogaloo');


html {
    height: 100%;
    width: 100%;
}


body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
    width: 100%;
}

/* Particles and Header */

.particles-js-canvas-el {
    position: relative;
    top: -1262px;
    height: 800px;
    left: -3px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

#particles {
    height: 970px;
    padding-left: 3px;
    padding-right: 3px;
    background-image: url("https://github.com/MichalRaszka/Portfolio/blob/0.1-Trying-new-background/assets/img/Midnight%20City.jpg?raw=true");
    position: static;
}



.container#header {
    height: 970px;
    opacity: 1;
    width: 100%;
    text-align: center;

}

.container#header h1 {
    font-family: "Open Sans Condensed";
    font-size: 50px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 76.8px;
    text-decoration: none solid rgb(252, 252, 252);     
    text-align: center;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;
    color: #EEEEEE;
}



.container#header p {
    color: #EEEEEE;
    text-align: center;
    letter-spacing: 1px;
    font-family: "Open Sans Condensed";
    font-size: 24px;
    line-height: 50px;
    width: 100%;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 20px;
    text-align: justify;
}



.fas.fa-desktop {
    size: 20px;
}

#icon {
    color: #8EFFB4;
    padding-top: 30px;
}

#colored {
    color: #8EFFB4;
}

.profile {
    padding-top: 10%;
}

.profile>img{
    width: 200px;
    height: 200px;
    opacity: 0.6;
}

.rounded-circle {
    opacity: 0.57;
    background-blend-mode: normal;
    width: 150px;
    height: 170px;
    padding-top: 2px;
    margin-top: 2px;
}




#about {
    background-color: #EEEEEE
}

.card {
    border: none;
}

#beforework, #beforeprojects{
    text-align: center;
    margin-top: 70px;
}

.card-deck {
    margin-top: 80px;
    text-align: center;
}


i {
    text-align: center;
}

.card-text {
    text-align: center;
}



#beforework h3{
    font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 31.5px;
	text-decoration: none solid rgb(88, 96, 105);
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;
}
.card h5 {
    text-align: center;
}



.card p,h5{
	/* Font & Text */
	font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 31.5px;
	text-decoration: none solid rgb(88, 96, 105);
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;
}

i#admin{
    color: #6D6875;
}

i#helpdesk{
    color: #4FC1E9;
}

i#code{
    color: #FFCDB2;
}

hr#vertical{
        border:         none;
        border-left:    1px solid #E5E5E5;
        height:         50vh;
        width:          1px;       
}

#hrrow{
    margin-top: 100px;
}


h1 {
   text-align: center;
   font-weight: 300;
   color: #777
}

h1 span {
   font-weight: 600;
}

#timeline {
   width: 80%;
   padding: 50px 0;
   margin: 50px auto;
   position: relative;
   overflow: hidden;
   font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
}

#timeline:before {
   content: '';
   position: absolute;
   top: 0;
   left: 50%;
   margin-left: -1px;
   width: 2px;
   height: 100%;
   background: #CCD1D9;
   z-index: 1
}

.timeline-block {
   width: -webkit-calc(50% + 8px);
   width: -moz-calc(50% + 8px);
   width: calc(50% + 8px);
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -moz-box-pack: justify;
   justify-content: space-between;
   clear: both;
}

.timeline-block-right {
   float: right;
}

.timeline-block-left {
   float: left;
   direction: rtl
}

.marker {
   width: 16px;
   height: 16px;
   border-radius: 50%;
   border: 2px solid #F5F7FA;
   background: #7FDD9E;
   margin-top: 10px;
   z-index: 9999
}

.timeline-content {
   width: 95%;
   padding: 0 15px;
   color: #777;
}

.timeline-content h3 {
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 25px;
   font-weight: 500
}

.timeline-content span {
   font-size: 15px;
   color: #a4a4a4;
}

.timeline-content p {
   font-size: 14px;
   line-height: 1.5em;
   word-spacing: 1px;
   color: #212529;
   font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 31.5px;
}


@media screen and (max-width: 768px) {
   .container:before {
      left: 8px;
      width: 2px;
   }
   .timeline-block {
      width: 100%;
      margin-bottom: 30px;
   }
   .timeline-block-right {
      float: none;
   }

   .timeline-block-left {
      float: none;
      direction: ltr;
   }
}


 .col-sm{
     margin-top: 100px;
     text-align: center;
 }

img{
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.5ms;
}

img:hover{
    box-shadow: #212529;
}

#skills h3{
    font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	letter-spacing: normal;
	line-height: 31.5px;
    color: #777777;
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
    word-spacing: 0px;
    size: 24px;
}

img{
    display: inline-block;
}

img:hover {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
img {
    transition: transform 0.2s;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -o-transition: -o-transform 0.2s;
}

#projects{
    background-color: #00a8ff;
}

#beforeprojects h3{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    line-height: 30px;
}

#projects h3{
    font-family: 'Boogaloo'
}

#pcard{
    background-color: transparent;
    text-align: center;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: none;
    font-family: InterUI, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
    font-size: 14px;
}


#pcard p{
    font-size: 15px;
}

.card-img-top{
    opacity: 1;
}


#kal{
    width: 20px;
}



.card-group{
    background: transparent;
}

.card-body {
    opacity: 1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.card{
    border: none;
}

.card {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}


.card > .card-text {
	display:none;
}


.card:hover {
	-webkit-filter: grayscale(0);
    filter: grayscale(0);

}


#examples .card {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #42b078;
  }



  #examples .card img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  #examples .card:hover img {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  #examples .card h2 {
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    overflow: hidden;
    padding: 0.5em 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  #examples .card h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
  }
  
  #examples .card:hover h2:after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  #examples .card p {
    color: #FFF;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    font-size: 14px;
  }
  
  #examples .card:hover a, #examples .card:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  #examples{
      width: 100%;
  }


  #projectsContainer{
      padding-top: 5%;
  }

  #mountainimage->svg{
      width: 100%;
  }

  grid-column{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #7B7B7B;
      padding-left: 10px;
      padding-right: 10px;
    text-align: center;
  }

  .social a{
      text-decoration: none;
      color: #7B7B7B;
      padding: 2px 2px 2px 2px;
      transition: 0.5s
  }

  .social a:hover{
      text-decoration: none;
      color: #80DEA0;
      transition: 0.5s
  }

  .email a:hover{
      color: #7B7B7B;
      transition: 0.5s;
  }

  grid-column>h2{
      font-size: 40px;
      line-height: 46px;
      letter-spacing: 0.5px;
      font-weight: 300;
      font-style: normal;
  }

  grid-column>p{
      font-size: 22px;
      line-height: 37,4px;
      letter-spacing: normal;
      padding-top: 25px;


  }

  .email>p{
    padding-top: 10px;
}

  .email{
      font-size: 22;
    padding-top: 25px;
  }

  .email>p>a{
      color: #7FDD9E;
      text-decoration: none;
      transition: 0.5s;
      
  }

  .social{ 
      padding-top: 40px;
  }

  @keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.heli{
    animation: float 6s ease-in-out infinite;

}

#mountainimage{
    background: url(/assets/img/Midnight\ City.jpg);
    position: relative;
    background-size: cover;
    background-position: 0 0;
    background-repeat: repeat-x;
    animation: animate 15s linear infinite;
    overflow: visible;
}

@keyframes animate{
    from{
        background-position: 0 0;
    }
    to{
        background-position: 100% 0;
    }
}


/* View port media rules */

@media only screen and (max-width: 777px) {
    
    .container#header h1 {
        font-family: "Open Sans Condensed";
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        letter-spacing: normal;
        line-height: 76.8px;
        text-decoration: none solid rgb(252, 252, 252);     
        text-align: center;
        text-indent: 0px;
        text-transform: none;
        vertical-align: baseline;
        white-space: normal;
        word-spacing: 0px;
        color: #EEEEEE;
    }
    
    
    
    .container#header p {
        color: white;
        text-align: center;
        letter-spacing: 0.5px;
        font-family: "Open Sans Condensed";
        font-size: 20px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 20px;
        text-align: justify;
    }
    

    #work{
        text-align: center;
        margin-left: 7%;
    }
    

    #timeline.container.aos-init.aos-animate::before{
        right: 100px;
    }


    #timeline:before {
        display: none;
     }

     #arrow{
         display: none;
     }

     #mountainimage{
         display: none;
     }

     #footer{
         margin-bottom: 20%;
     }
  }